**/.DS_Store
*.DS_Store
.DS_Store
node_modules

*/node_modules
node_modules/*
node_modules/

*.
*~
.tmp

# IDE CRAP #
############
*.tmrproj
.project
.settings
nbproject
.buildpath
.idea/

# OS CRAP #
###########
*.DS_Store
*.DS_Store?
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
@eaDir
